# Gradle
.gradle/
build/
app/build/

# IDE
.idea/
*.iml
*.iws
*.ipr

# Android
*.apk
*.aab
*.jks
*.keystore

# Stitch tool calling
.stitch-mcp/


uidump/


# Environment & local config
.env
gradlew.bat
local.properties
error.txt
assets/


# OS files
.DS_Store
Thumbs.db